@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Open sans", sans-serif;
  padding: 0;
}

p {
    font-size: 14px;
}

h1 {
  font-weight: 500;
}

.intro {
  text-align: center;
  padding: 30px 0;
}

.create-section {
  width: fit-content;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  color: #fff;
  background-color: #3aa218;
  position: fixed;
  bottom: 15%;
  right: 10%;
  cursor: pointer;
}

.section-options {
  position: absolute;
  color: #000;
  left: 0;
  top: 0;
  transform: translate(-100%, -100%);
  height: fit-content;
  width: 200px;
  box-shadow: 1.5px 1.5px 10px rgb(186, 186, 186);
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.1s ease-in;
}

.options-open {
  opacity: 1;
}

.section {
  padding: 5px 10px;
  cursor: pointer;
}

.section:hover {
  background-color: rgb(239, 239, 239);
}

.resume {
  padding: 0 40px;
}

.header {
  padding: 40px 0;
  display: flex;
}

.header h2 {
    font-weight: 400;
    font-size: 22px;
}

.header-image {
  height: 180px;
  width: 180px;
  border-radius: 10px;
  overflow: hidden;
  margin-right: 40px;
}

.header-description {
    width: calc(100vw - 300px);
    text-align: justify;
}

.header-image img {
  height: 100%;
}

.header-editable {
    display: flex;
    align-items: center;
}

.header-editable h1, .header-editable h2 {
    margin-right: 10px;
}

.header-editable input {
    visibility: hidden;
}

.header-editable label {
    cursor: pointer;
}

@media print {
  .no-print {
    display: none;
  }
}
